#biz_calendar {
	max-width: 250px;
	margin : auto;
}

table.bizcal {
	margin : 10px 0;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: 1px Silver solid;
	line-height: 1.6em;
	cursor: default;
	vertical-align: middle;
}

table.bizcal th {
	background-color: WhiteSmoke;
	text-align:center;
	border: 1px Silver solid;
	padding : 2px;
}

table.bizcal th:first-child  {
	color : red;
}

table.bizcal th:nth-last-of-type(1)  {
	color : blue;
}

table.bizcal td {
	text-align:center;
	border: 1px Silver solid;
	padding : 2px;
}

table.bizcal td.calmonth {
	text-align:left;
	font-weight : bold;
	padding: 2px 7px;
	border: none;
}

table.bizcal td.calbtn {
	border: none;
	cursor: pointer;
}

table.bizcal td img {
	vertical-align: middle;
}

.down-img{
	text-align:right !important;
}

.today-img{
	text-align:center !important;
}

.up-img{
	text-align:left !important;
}

table.bizcal td.holiday {
	background-color: Pink;
}

table.bizcal td.eventday {
	background-color: Aqua;
}

table.bizcal td.today {
	font-weight : bold;
	color: #1e90ff;
}


#biz_calendar p {
	margin:10px 0;
}

span.boxholiday{
	background-color: Pink;
	border: 1px Silver solid;
	width: 60px;
	padding-right:20px;
	margin-right:10px;
}

span.boxeventday{
	background-color: Aqua;
	border: 1px Silver solid;
	width: 60px;
	padding-right:20px;
	margin-right:10px;
}
